<form>
  <div class="col-6">
    <div class="form-group pt-4">
      <h1>Entradas</h1>

      <label>Nombre</label><br>
      <input type="text" [(ngModel)]="hola" name="hola" placeholder="Inserta el nombre" />

      <hr />

      <label>Cantidad de personas</label><br>
      <input type="number" [(ngModel)]="cantPer" name="cantidadP" placeholder="Cuántas personas" />

      <hr />

      <label>Cantidad de boletos por persona</label><br>
      <input type="number" [(ngModel)]="cantBol" name="cantidad" placeholder="Cuántos boletos" />

      <hr />

      <label>¿Tarjeta CineCo?</label><br>
      <input type="radio" name="card" [(ngModel)]="card" [value]="true" /> Sí
      <input type="radio" name="card" [(ngModel)]="card" [value]="false" checked /> No

      <hr />

      <div *ngIf="errorMessage" style="color: red; font-weight: bold;">
        {{ errorMessage }}
      </div>

      <button (click)="procesar()" type="button" class="btn btn-primary">Procesar</button>

      <hr />

      <h2>{{ hola }}, la cantidad a pagar es: ${{ resultado | number }}</h2>
    </div>
  </div>
</form>